<section>
  <%= render 'shared/user', user:@user %>
  <div class="bio-heading">
    <h4>Bio:</h4>
    <p><%= @user.bio %><p>
  </div>
  <ul class="list">
    <% if @user.posts.count > 0 %>
    <% @user.three_recent_posts.each do |post| %>
      <a href="/users/<%= @user.id %>/posts/<%= post.id %>" >
        <%= render 'shared/post', post: post %>
      </a>
    <% end %>
  <% else %>
    <li>No Posts</li>
  <% end %>
</ul>
  <div class="btn">
  <a href="/users/<%= @user.id %>/posts"><button type="button">See All Posts</button></a>
  </div>
</section>

